.App {
  text-align: center;
}

h1{
  margin-top: 0px;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
  padding: 1rem;
  font-size: CLAMP(1vw, 3vw, 4vw);
}

.main-container{
  margin: auto;
  padding: 1rem;
  width: 50%;
  height: 50%;
  border: 1px solid black;
}

.form{
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 1rem;
  align-items: center;
}

label{
  justify-self: end;
}

.btnShow{
  padding: 0px;
}

input[type = "password"]:placeholder-shown{
  border: 1px solid red;
}

/* input[type = "password"]:not(:placeholder-shown){
  border: 1px solid green;
} */

input:focus{
  border: 3px solid yellowgreen;
}

.btn-submit{
  margin-top: 1rem;
}

@media screen and (max-width: 700px){
  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
}